export INFLUXDB_V2_TOKEN=set-me
export INFLUXDB_V2_URL=set-me
export INFLUXDB_V2_ORG=set-me
export INFLUXDB_V2_SSL_CA_CERT=set-me

export PERSIST_FILE=set-me
export USERNAME=set-me
export PASSWORD=set-me

export INFLUX_BUCKET=set-me
